 
 * {
     
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    
    background-color: bisque;
  }
  h1{
      text-align: center;
  }
  .container {
    background-color: #ffffff;
    width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
  }
  .options label,
  .options select {
    font-family: "Poppins", sans-serif;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
  }
  .active {
    background-color: #e0e9ff;
  }
  #emoji
  {
      position: absolute;
      top: 100px;
      right: 100px;
  }
  #eraser
  {
      position: absolute;
      top: 50px;
      left: 100px;
  }
  #f
  {
      position: absolute;
      top: 500px;
      right:150px;
  }
  #happiness
  {
      position: absolute;
      top:200px;
      right:300px
  }
  #homework
  {
      position: absolute;
      top:300px;
      right:200px
  }
  #i
  {
      position: absolute;
      top:50px;
      right:250px;
  }
  #laughing1
  {
      position: absolute;
      top:500px;
      left:100px;
  }
  #laughing
  {
      position: absolute;
      top:350px;
      left:250px;
  }
  #monkey
  {
      position: absolute;
      left:50px;
      top:200px;
  }
  #notepad
  {
      position: absolute;
      left:150px;
      top:270px;
  }
  #packaging
  {
      position: absolute;
      top:100px;
      left:190px;
  }
  #party
  {
      position: absolute;
      top:530px;
      left:200px;
  }
  #pen1
  {
      position: absolute;
      top:170px;
      left:230px;
  }
  #pen
  {
      position: absolute;
      top:300px;
      left:50px;
  }
  #pencil
  {
      position: absolute;
      top:400px;
      right:100px;
  }
  #s
  {
      position: absolute;
      top:400px;
      left:120px;
  }
  #sad
  {
      position: absolute;
      top:150px;
      right:200px;
  }
 
  #shocked
  {
      position: absolute;
      top:250px;
      right: 50px;;
  }
  #sticker
  {
      position: absolute;
      top:350px;
      right:250px;
  }
  #surprised
  {
      position: absolute;
      top:450px;
      right: 270px;
  }
  